site_name: "Estadísticas para Ciencia de Datos — Classroom"
site_url: "https://sgevatschnaider.github.io/estadisticas-para-ciencia-de-datos/"
repo_url: "https://github.com/sgevatschnaider/estadisticas-para-ciencia-de-datos"
repo_name: "sgevatschnaider/estadisticas-para-ciencia-de-datos"

# Clave para que tus links /modulos/.../ funcionen
use_directory_urls: true

theme:
  name: material
  language: es
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.indexes
    - toc.follow
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: true

extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Módulos:
      - "I. Geometría y Probabilidad": modulos/probabilidad.md
      - "II. Inferencia Computacional": modulos/inferencia.md
      - "III. Aprendizaje Estadístico": modulos/learning.md
      - "IV. Modelos Estructurados": modulos/pgm.md
      - "V. Grafos y Complejidad": modulos/tiempo.md
